:root.theme-dark {
  --pink-text-color: #f1b2ce;
  --pink-color-accent-color: #ff0070;
  --purple-head-color-accent: #db00ff;
  --purple-button-color-accent: #ff007066;
  --black-color-background: #000028;
  --header-text-color: #000028;
  --menu-color: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --text-color: var(--pink-text-color);
  --accent-color: var(--pink-color-accent-color);
  --title-color: var(--purple-head-color-accent);
  --secondary-color: var(--purple-button-color-accent);
  --bg-color: var(--black-color-background);
  --header-pseudo-element-visibility: visible;
}
