
:root.theme-dark {
  --pink-color-three: #F1B2CE;
  --pink-color-four: #FF0070;
  --purple-text-color-one: #DB00FF;
  --purple-text-color-two: #ff007066;
  --black-color-one: #000028;
  --header-text-color: #000028;
  --menu-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png"); 
  --text-color: var(--pink-color-three);
  --accent-color: var(--pink-color-four);
  --title-color: var(--purple-text-color-one);
  --secondary-color: var(--purple-text-color-two);
  --bg-color: var(--black-color-one);
  --header_pseudo_element-visibility: visible;
}
