:root.theme-light {
  --black-color-two: #353430;
  --light-pink-color: #FFF1F7;
  --pink-color-one: #FFC2E6;
  --pink-color-two: #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
}

@media (prefers-color-scheme: light) {
  :root {
  --header-text-color: var(--black-color-two);
  --menu-color: var(--black-color-two);
  --text-color: var(--black-color-two);
  --accent-color: var(--pink-color-two);
  --title-color: var(--pink-color-one);
  --secondary-color: var(--black-color-two);
  --bg-color: var(--light-pink-color);
  --bg-image: url("../images/cover-image-light.png");
  --header_pseudo_element-visibility: hidden;
 }
}
