:root {
  --black-color-background: #000028;
  --header-text-color: #000028;
  --menu-color: #ff0070;
  --black-color-accent: #353430;
  --light-pink-color: #fff1f7;
  --pink-color-head-accent: #ffc2e6;
  --pink-color-accent: #ff8dcb;
  --pink-color-accent-color: #ff0070;
  --font-family: "IBM Plex mono";
  --bg-image: url("../images/cover-image-dark.png");
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --purple-head-color-accent: #db00ff;
  --purple-button-color-accent: #ff007066;
  --main-font-size: 18px;
  --pink-text-color: #f1b2ce;
  --small-gap: 10px;
  --normal-gap: 20px;
  --text-color: var(--pink-text-color);
  --accent-color: var(--pink-color-accent-color);
  --title-color: var(--purple-head-color-accent);
  --secondary-color: var(--purple-button-color-accent);
  --bg-color: var(--black-color-background);
  --accent-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --accent-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-pseudo-element-visibility: visible;
}
